<img alt="pavillon" id="pavillon" src="/images/pavillon.jpg" width="100%" />

<div class="row-fluid dark" id="presentation">
	<div class="span6 inner"  style="text-align:right;padding-right:80px">
		<h1>CONTACT</h1> 
	</div>
</div>


<div class="row-fluid light">
	<div class="span8 offset2 container">
		<div class="content">
		<h2>Contact</h2>
		<hr/>
		
		<address>
		  <strong>Dev & Breakfast</strong><br>
		  <br>
		  65 rue du faubourg saint denis<br>
		  Paris, 75010<br>
		  <br>
		  <span><strong>Tel: </strong></span> 06 74 50 48 65<br>
		  <span><strong>Email: </strong></span><a href="mailto:contact@dvnb.fr">contact@dvnb.fr</a>
		</address>
		
		</div>
	</div>
</div>