<img alt="pavillon" id="pavillon" src="/images/pavillon.jpg" width="100%" />

<div class="row-fluid dark" id="presentation">
	<div class="span6 inner"  style="text-align:right;padding-right:80px">
		<h1>CONTACT</h1> 
	</div>
</div>


<div class="row-fluid light">
	<div class="span8 offset2 container">
		<div class="content">
		<h2>Contact</h2>
		</div>
	</div>
</div>