<footer>
	<div class='container'>
		<div class="row">
			<div class="span4">
				<ul>
					<h6>A propos</h6>
					<li>
						<a href='/about'>
							A propos de D&B
						</a>
					</li>
					<li>
						<a href='/jobs'>
							Jobs
						</a>
					</li>
				</ul>
			</div>
			
				<div class="span4">
					<ul>
						<h6>Suivez nous</h6>
						<li>
							<a href='/about'>
								Facebook
							</a>
						</li>
						<li>
							<a href='/jobs'>
								Twitter
							</a>
						</li>
					</ul>
				</div>
				
					<div class="span4">
						<ul>
							<h6>Informations légales</h6>
							<li>
								<a href='/legal'>
									Mentions légales
								</a>
							</li>
							<li>
								<a href='/legal'>
									Conditions d'utilisation
								</a>
							</li>
						</ul>
					</div>
			
			
			
			
		</div>
	</div>


</footer>