<div class="row-fluid" id="footer">
	<div class="container">
		<div class="row-fluid">
		<div class="span3 offset1">
			<p class="left">&copy; 2013 d&b<br/>
				Tous droits réservés.</p>
		</div>

		<div class="span3 offset1">
			<p class="left">d&b</br>
			73 Rue du Faubourg Saint-Denis</br>
			75010 Paris</p>
		</div>

		<div class="span3 offset1">
			<p class="left">Contact
			<br/><a href='mailto:contact@dvnb.fr'>contact@dvnb.fr</a>
			</p>
		</div>
		</div>
	</div>
</div>