<div class="navbar navbar-fixed-top">
	<div class="container">
		<a class="brand" href="/"><img src='./images/logo.png' width='100px' id="logo" %></a>
		<ul class="nav pull-right">
			<li><a href="/program" class="about">PROGRAMME</a></li>
		</ul>
	</div>
</div>