<div class="navbar navbar-fixed-top">
	<div class="container">
		<a class="brand" href="/"><img src='./images/logo.png' width='100px' id="logo" %></a>
		<ul class="nav pull-right">
			<li><a href="/programme">Programme</a></li>
			<li><a href="/tarifs">Tarifs</a></li>
			<li><a href="/equipe">L'équipe</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</div>

