
<div class="row-fluid dark" id="presentation">
	<div class="span6 inner"  style="text-align:right;padding-right:80px">
		<h1>OFFRES D'EMPLOIS</h1> 
	</div>
</div>


<div class="row-fluid light">
	<div class="span8 offset2 container">
		<div class="content">
		<h2>Offres d'emplois</h2>
		</div>
	</div>
</div>