
<div class="row-fluid dark" id="presentation">
	<div class="span6 inner"  style="text-align:right;padding-right:80px">
		<h1>OFFRES D'EMPLOIS</h1> 
	</div>
</div>


<div class="row-fluid light">
	<div class="span8 offset2 container">
		<div class="content">
		<h2>Offres d'emplois</h2>
		<hr/>
		<p>Nous cherchons des profs compétents, pédagogues et sympathiques pour étoffer notre équipe de coachs.</p>
		<br/>
		
		<h3>Instructeur Ruby on Rails</h3>
		<p><a href="mailto:job@dvnb.fr?subject=[jobs] Instructeur Ruby on Rails">Postuler</a></p>
		<p><strong>Compétences et qualifications</strong></p>
		<ul>	
			 <li>Vous êtes désireux de façonner les compétences, les esprits et les trajectoires de la nouvelle génération de développeurs web</li>
			<li>Vous êtes la personne autour de laquelle gravitent naturellement vos proches quand ils essaient de comprendre quelque chose en matière de web</li>
			<li>Vous avez 4-5 années d'expérience en développement web</li> 
			<li>Vous avez la maîtrise de tous ou une partie des langages suivants: HTML, CSS, JavaScript, Ruby, Ruby on Rails</li>
			<li>Vous avez déjà enseigné (cours particuliers, écoles, travaux dirigés)</li>
		</ul>
		<p><strong>Responsabilité et opportunités</strong></p>
			<ul>
				<li>Travailler en étroite collaboration avec les fondateurs sur le programme de cours</li>
				<li>Guider les élèves dans un voyage où ils commencent commme novices et repartent comme des développeurs habilités</li>
				<li>Développer et entretenir une communauté solidaire, dynamique et collaborative qui dure bien au-delà du cours</li>
				<li>Inspirer les élèves à persévérer</li>
			</ul>
			
			
			<hr/>
			
			<h3>Instructeur UI/UIX</h3>
			<p><a href="mailto:job@dvnb.fr?subject=[jobs] Instructeur UI/UIX">Postuler</a></p>
			<p><strong>Compétences et qualifications</strong></p>
			<ul>	
				<li>Vous êtes designer web avec une forte compétence en développement front-end</li>
				<li>Vous avez la maîtrise de tous ou une partie des langages suivants: HTML5, CSS3, JavaScript</li>
				<li>Vous avez déjà enseigné (cours particuliers, écoles, travaux dirigés)</li>
			</ul>
			<p><strong>Responsabilité et opportunités</strong></p>
				<ul>
					<li>Enseigner aux élèves les concepts et les bonnes pratiques de la "User Experience"</li>
				</ul>
			
			
		</div>
	</div>
</div>