<img src='./images/pavillon_flou.jpg' style="width:1400px" id="pavillon"%>

<div class="row-fluid dark" id="presentation">
	<div class="container">
		<div class="row-fluid">
			<% if @notice_title %>
				<div class="span4" id="notice">
					<h4 style="color:rgba(158, 201, 103,1)"><%=@notice_title%></h4>
					<h5><%=@notice_desc%></h5>
				</div>
			<% end %>

			<div class="span6 pull-right", style="text-align:right">
				<h1>DEV & BREAKFAST</h1> 
				<h4>Codez 6h par jour<h4>
				<h4>Créez votre site à la campagne</h4>
				<h4>Collaborer avec des développeurs professionnels</h4>
			</div>
		</div>
	</div>
</div>

<script>
$(function(){
	$("#notice").delay(2000).fadeOut(2000);
});
</script>

<div class="row-fluid light" id="inscription">
	<div class="container">
		<div class="span12">
			<a href="/program" id="pgm-link"><h1>LE PROGRAME D&B</h1></a><br>			
			<div class="row-fluid">
				<div class="span6">
					<p class='avg'><strong>Première semaine - 2000€ :</strong> Apprenez à développer une appli web.</p>
					<p style="text-align:justify"><strong>De la meilleure façon</strong>, avec des cours intensifs donnés par des développeurs expérimentés. En alternant leçons théoriques, exercices, petits projets de groupe, discussion et échanges d'idées sur vos projets. Et en profitant aussi de l'air pur de la campagne, et de la gastronomie locale tant qu'à faire !<p>
				</div>

				<div class="span6 pull-right">
					<p class='avg'><strong>Deuxième semaine - 1500€ :</strong> Développez vous-même votre site.</p>
					<p style="text-align:justify">Pour atteindre cet objectif, il faudra avoir suivi la première semaine de cours, ou être déjà bien initié à la programmation web. Créer un site, c'est avoir la main dessus, et ne pas être à la merci d'une agence web. Les outils actuels permettent à n'importe qui de coder une web-app, à condition de faire preuve de motivation et de persévérance !<strong> d&b vous rembourse 50% du prix de cette semaine si vous ne parvenez pas à développer votre maquette, ce qui n'arrivera pas !</strong></p>
				</div>
			</div>
			<% if @warning %>
				<h4 style="color:orange"><%=@warning%></h4>
			<% end %>
			<div class="row-fluid">
				<div class="span12">
					<form accept-charset="UTF-8" action="/" class="form-inline" method="post">
						<div style="margin:0;padding:0;display:inline">
							<input name="utf8" type="hidden" value="✓">
							<input name="authenticity_token" type="hidden" value="GshmGjsFxnGRTp6KCoAgUWIhfYVQWbdJLAC+6C9N+Pc=">
						</div>
						<input id="email" name="email" placeholder="Laissez-nous votre email" type="email">
						<input class="btn" name="commit" type="submit" value="Je suis intéressé">
					</form>
				</div>
			</div>	
		</div>
	</div>
</div>


<div class="row-fluid green" id="coachs">
	<div class="container">
		<div class="span12 pull-right" style="text-align:right">
			<h1>LES COACHS</h1>

			<div class="row">
				<div class="span3 center">
					<em><img src='./images/mathieu.png' class='img-circle'></em>
					<h4>MATHIEU RIPERT</h4>
					<a href='http://www.linkedin.com/in/mathieuripert' target='_BLANK'><img src='./images/linkedin.png' class='img-linkedin'></a>
					<a href='https://twitter.com/mathieurip' target='_BLANK'><img src='./images/twitter.png' class='img-twitter'></a>
					<a href='https://www.facebook.com/ripouze' target='_BLANK'><img src='./images/facebook.png' class='img-twitter'></a>
					<br/>

				</div>

				<div class="span3 center">
					<em><img src='./images/boris.png' class='img-circle'></em>
					<h4>BORIS PAILLARD</h4>
					<a href='http://www.linkedin.com/pub/boris-paillard/70/226/867' target='_BLANK'><img src='./images/linkedin.png' class='img-linkedin'></a>
					<a href='https://www.facebook.com/boris.paillard' target='_BLANK'><img src='./images/facebook.png' class='img-twitter'></a>
					<br/>


				</div>

				<div class="span3 center">
					
					<em><img src='./images/mack.png' class='img-circle'></em>
					<h4>MACK MCCONNEL</h4>
					<a href='http://www.linkedin.com/pub/mack-mcconnell/16/61/b26' target='_BLANK'><img src='./images/linkedin.png' class='img-linkedin'></a>
					<a href='https://www.facebook.com/mackmackboback' target='_BLANK'><img src='./images/facebook.png' class='img-twitter'></a>
					<br/>
					
		
				</div>	

				<div class="span3 center">
					
					<em><img src='./images/olivier.png' class='img-circle'></em>
					<h4>OLIVIER LANCE</h4>
					<a href='http://www.linkedin.com/in/olivierlance' target='_BLANK'><img src='./images/linkedin.png' class='img-linkedin'></a>
					<a href='https://www.facebook.com/mackmackboback' target='_BLANK'><img src='./images/facebook.png' class='img-twitter'></a>
					<br/>
					
				</div>

			</div>	
		</div>
	</div>
</div>