<img src='./images/pavillon_flou.jpg' style="width:100%" id="pavillon"%>

<div class="row-fluid dark" id="presentation">
	<div class="row-fluid">
		<% if @notice_title %>
			<% if @warning %>
				<div class="span5 offset1" id="warning">
			<% else %>
				<div class="span5 offset1" id="notice">
			<% end %>
					<h3 style="color:whitesmoke"><%=@notice_title%></h3>
					<h4 style="color:white"><%=@notice_desc%></h4>
				</div>
		<% end %>
		<div class="span6 pull-right", style="text-align:right; padding-right:100px">
			<h1>DEV & BREAKFAST</h1> 
			<h4>Codez 6h par jour<h4>
			<h4>Créez votre site à la campagne</h4>
			<h4>Collaborer avec des développeurs professionnels</h4>
		</div>
	</div>
</div>

<script>
$(function(){
	$("#notice").delay(2000).fadeOut(2000);
	$("#warning").delay(2000).fadeOut(2000);
});
</script>

<div class="row-fluid light" id="description">
	<div class="span8 offset2 container" style="text-align:center">
		<p><strong>Première semaine :</strong> Apprenez à développer une appli web.</p>
		<p><strong>Deuxième semaine :</strong> Développez vous-même votre site.</p>
	</div>
</div>

<div class="row-fluid light" id="inscription">
	<div class="span8 offset2 container" style="text-align:center">
		<% if @warning %>
			<h4 style="color:orange">Entrez à nouveau votre mail !</h4>
		<% end %>
		<form accept-charset="UTF-8" action="/" class="form-inline" method="post">
			<div style="margin:0;padding:0;display:inline">
				<input name="utf8" type="hidden" value="✓">
				<input name="authenticity_token" type="hidden" value="GshmGjsFxnGRTp6KCoAgUWIhfYVQWbdJLAC+6C9N+Pc=">
			</div>
			<input id="email" name="email" placeholder="Laissez-nous votre email" type="email">
			<input class="btn" name="commit" type="submit" value="Je suis intéressé">
		</form>
	</div>
</div>



<div class="row-fluid green" id="coachs">
		<div class="span12 pull-right" style="text-align:center">
			<h2>Ils coachent</h2>

			<div class="row">
				<div class="span3 center">
					<em><img src='./images/mathieu.png' class='img-circle'></em>
					<h4>Mathieu Ripert</h4>
					<a href='http://www.linkedin.com/in/mathieuripert' target='_BLANK'><img src='./images/linkedin.png' class='img-linkedin'></a>
					<a href='https://twitter.com/mathieurip' target='_BLANK'><img src='./images/twitter.png' class='img-twitter'></a>
					<a href='https://www.facebook.com/ripouze' target='_BLANK'><img src='./images/facebook.png' class='img-twitter'></a>
					<br/>

				</div>

				<div class="span3 center">
					<em><img src='./images/boris.png' class='img-circle'></em>
					<h4>Boris Paillard</h4>
					<a href='http://www.linkedin.com/pub/boris-paillard/70/226/867' target='_BLANK'><img src='./images/linkedin.png' class='img-linkedin'></a>
					<a href='https://www.facebook.com/boris.paillard' target='_BLANK'><img src='./images/facebook.png' class='img-twitter'></a>
					<br/>


				</div>

				<div class="span3 center">
					
					<em><img src='./images/mack.png' class='img-circle'></em>
					<h4>Mack McConnel</h4>
					<a href='http://www.linkedin.com/pub/mack-mcconnell/16/61/b26' target='_BLANK'><img src='./images/linkedin.png' class='img-linkedin'></a>
					<a href='https://www.facebook.com/mackmackboback' target='_BLANK'><img src='./images/facebook.png' class='img-twitter'></a>
					<br/>
					
		
				</div>	

				<div class="span3 center">
					
					<em><img src='./images/olivier.png' class='img-circle'></em>
					<h4>Olivier Lance</h4>
					<a href='http://www.linkedin.com/in/olivierlance' target='_BLANK'><img src='./images/linkedin.png' class='img-linkedin'></a>
					<a href='https://www.facebook.com/mackmackboback' target='_BLANK'><img src='./images/facebook.png' class='img-twitter'></a>
					<br/>
					
				</div>

			</div>	
		</div>
	</div>
</div>