<div class="row-fluid dark" id="presentation">
	<div class="span6 offset6 inner-ligth"  style="text-align:right;padding-right:80px">
		<h1>DEV & BREAKFAST</h1> 
		<h4>Codez 12h par jour</h4>
		<h4>Créez votre site à la campagne</h4>
		<h4>Encadré par des développeurs professionnels</h4>
	</div>
</div>

<div class="row-fluid light">
	<div class="span12">
		<div class="home">
			<p><strong>Première semaine:</strong> Apprenez à développer une appli web.</p>
			<p><strong>Deuxième semaine:</strong> Développez vous-même la maquette de votre site.</p>
			<p><small><a href="/programme">en savoir plus</a></small></p>
			<br/>
			
			<% if @message %>
				<%= @message %>
				
			<% else %>
			<form  action="/" class="form-inline" method="post">
				<div class="input-append">
				  <input id="email" name="email" placeholder="Email" type="text" >
				  <button class="btn btn-success" name="commit" type="submit" type="button">Je suis intéressé</button>
				</div>
			</form>
			<% end %>
		
			<% if @user %>
		    	<% @user.errors.each do |e| %>
		        	<%= e[0] %>
		     	<% end %>
			<% end %>

		</div>
	</div>
</div>