<!DOCTYPE html>
<html lang="en">
<head>
	<title>D&B</title>
	<meta charset=utf-8 />
	<meta name="title" content="Dev&Breakfast" />
	<meta name="description" content="Venez développer votre appli à la campagne !" />
	<link rel="image_src" href="https://www.dropbox.com/s/f69yrdrhp0yoyib/dnb.png" />
	
	<link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap_and_overrides.css">	
	<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-40664703-1']);
	  _gaq.push(['_setDomainName', 'dvnb.fr']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
	
	
	<img alt="pavillon" id="pavillon" src="/images/pavillon.jpg" width="100%" />
	
	<div class="overlay">
		<%= erb(:header, :layout => false) %>
		<%= yield %>
		<%= erb(:footer, :layout => false) %>
		
	</div>
	
</body>
</html>
