<!DOCTYPE html>
<html>
<head>
	<title>d&b</title>
	<meta charset="utf-8">
	<meta name="title" content="Dev&Breakfast" />
	<meta name="description" content="Venez développer votre appli à la campagne !" />
	<link rel="image_src" href="https://www.dropbox.com/s/f69yrdrhp0yoyib/dnb.png" />
	<link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.css">	
	<link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap_and_overrides.css">	
	<link rel="stylesheet" type="text/css" href="./stylesheets/application.css">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>	
</head>
<body>

	<%= erb(:header, :layout => false) %>

	<%= yield %>
	
	<%= erb(:footer, :layout => false) %>

</body>
</html>
