
<div class="row-fluid dark" id="presentation">
	<div class="span6 inner"  style="text-align:right;padding-right:80px">
		<h1>LE PROGRAMME</h1> 
	</div>
</div>


<div class="row-fluid light">
	<div class="span8 offset2 container">
		<div class="content">
			<h2>Programme</h2>
			<p class="justify">La formation se déroule à la campagne, au grand air. Les élèves et les coachs se retrouvent pour la semaine dans un gite proche de paris, les frais de déplacement sont à la charge de l'élève mais il trouvera une pension complète sur place. Dev & Breakfast prend soin de ses élèves et leur propose des bons repas pris tous ensemble pour faire relâche entre des cours très intensifs !</p>


			<h4>Première semaine</h4>

			<p class="justify">Les deux premiers jours de la semaine ont pour objectifs de familiariser les élèves avec les langages de programmation de base. Ils apprennent à coder en html, CSS et javascript via la réalisation d'un site témoin. Ils sont également initiés à l'utilisation de Jquery et du positionnement en grid via twitter bootstrap. Le reste de la semaine est dédié à l'apprentissage de ruby et du framework ruby on rails afin d'apprendre à s'autonomiser et à coder une web app. Les cours sont ponctués par des séances de travail au cours desquels les élèves peuvent travailler sur des projets personnels et demander conseils aux professeur de d&b. L'équipe de d&b encourage également le travail en équipe et les initiatives individuelles en restant disponible et à l'écoute à chaque instant de la semaine de formation.</p>


			<h4>Deuxième semaine</h4>

			<p class="justify">La semaine 2 est réservées aux élèves ayant suivi la première semaine de formation ou étant déjà bien aguerris au code ! L'ensemble de la semaine s'organise autour des projets personnels des élèves qui serons encadrés jusqu'à ce que leur projet aboutisse. Le suivi des projets est ponctué par des séances de cours et de perfectionnement sur des points de connaissance précis en fonction des besoins et des questions des élèves.</p>
			
		<br/>
		<h2>Que vais-je apprendre?</h2>
		
		<div class="row-fluid item">
			<div class="span2 icons">
				<img src='/images/html5.png' width="60px">
			</div>
			<div class="span10">
				<h4>HTML5 - CSS3</h4>
				<p style="text-align:justify">Les langages de base du "front end". C'est le socle sur lequel tous les sites sont bâtis.</p>
			</div>
		</div>
		
		<div class="row-fluid item">
			<div class="span2 icons" >
				<img src='/images/js.png' width="60px">
			</div>
			<div class="span10">
				<h4>Javascript - jQuery - Bootstrap</h4>
				<p style="text-align:justify">Des outils simples et efficaces pour donner à son site un rendu "professionnel", et améliorer l'UX avec des animations bien choisies.</p>
			</div>
		</div>
		
		<div class="row-fluid item">
			<div class="span2 icons" >
				<img src='/images/ruby.png' width="60px">
			</div>
			<div class="span10">
				<h4>Ruby - Rails</h4>
				<p style="text-align:justify">Le framework "à la page" pour construire sa web-app. Simple, efficace, il bénéficie en plus de nombreuses librairies open source, permettant d'intégrer de nombreuses fonctionnalités (social, login, paiements, géolocalisation, etc...)</p>
			</div>
		</div>
		
		<div class="row-fluid item">
			<div class="span2 icons" >
				<img src='/images/git.png' width="60px">
			</div>
			<div class="span10">
				<h4>Git - Heroku</h4>
				<p style="text-align:justify">Les outils nécessaires pour collaborer sereinement sur son projet (Git) et déployer son application sur le cloud en toute simplicité (Heroku)</p>
			</div>
		</div>
		
		
		</div>
	</div>
</div>