<div class="row-fluid green" id="program">
	<div class="container">
		<div class="span12">
			<h2 style="text-align:center">ORGANISATION</h2><br><br>
			<p>La formation se déroule à la campagne, au grand air. Les élèves et les coachs se retrouvent pour la semaine dans un gite proche de paris, les frais de déplacement sont à la charge de l'élève mais il trouvera une pension complete sur place. Dev & Breakfast prend soin de ses élèves et leur propose des bons repas pris tous ensemble pour faire relâche entre des cours très intensifs !</p>



			<h4>Première semaine</h4> 
			<p>Les deux premiers jours de la semaine ont pour objectifs de familiariser les élèves avec les langages de programmation de base. Ils apprennent à coder en html, CSS et javascript via la réalisation d'un site témoin. Ils sont également initiés à l'utilisation de Jquery et du positionnement en grid via twitter bootstrap. Le reste de la semaine est dédié à l'apprentissage de ruby et du framework ruby on rails afin d'apprendre à s'autonomiser et à coder une web app. Les cours sont ponctués par des séances de travail au cours desquels les élèves peuvent travailler sur des projets personnels et demander conseils aux professeur de d&b. L'équipe de d&b encourage également le travail en équipe et les initiatives individuelles en restant disponible et à l'écoute à chaque instant de la semaine de formation.</p>

			<h4>Deuxième semaine</h4> 
			<p>La semaine 2 est réservées aux élèves ayant suivi la première semaine de formation ou étant déjà bien aguerris au code ! L'ensemble de la semaine s'organise autour des projets personnels des élèves qui serons encadrés jusqu'à ce que leur projet aboutisse. Le suivi des projets est ponctué par des séances de cours et de perfectionnement sur des points de connaissance précis en fonction des besoins et des questions des élèves.</p>

			<br><br>
			<h2 style="text-align:center">QUE VAIS-JE APPRENDRE ?</h2><br><br>

			<div class="row-fluid">
				<div class="span4 center">
					<h4 style="text-align:center">HTML - CSS</h4>
					<img src="./images/html.png" width="60px" style="margin-right:10px">
					<img src="./images/css3.png" width="58px">
				</div>
				<div class="span4 center">
					<h4 style="text-align:center">Javascript - jQuery - Bootstrap</h4>
					<img src="./images/javascript.png" width="60px" style="border-radius:5px;margin-right:5px">
					<img src="./images/jquery.png" width="60px" style="border-radius:5px;margin-right:5px">
					<img src="./images/bootstrap.jpeg" width="108px" style="border-radius:5px">
				</div>
				<div class="span4 center">
					<h4 style="text-align:center">Ruby - Rails</h4>
					<img src="./images/ruby.png" width="65px" style="margin-right:10px">
					<img src="./images/rails.png" width="50px">
				</div>
			</div>
			<br>
			<div class="row-fluid">
				<div class="span4 center">
					<p style="text-align:justify">La base pour maîtriser son front end. Le socle sur lequel tous les sites sont bâtis.</p>
				</div>
				<div class="span4 center">
					<p style="text-align:justify">Les outils simples et efficaces pour donner à son site un rendu "professionnel" et améliorer l'UX grâce à des animations bien choisies.</p>
				</div>
				<div class="span4 center">
					<p style="text-align:justify">Le framework "à la page" pour construire sa web-app. Simple, efficace, il bénéficie en plus de nombreuses librairies open source, pour intégrer les API facebook/google/twitter/etc, parser des fichiers HTML/XML, mettre en place un système de paiement, de login, de géolocalisation..</p>
				</div>
				
				
			</div>
		</div>		
	</div>
</div>