#footer{
	padding-top:30px;
}

#logo{
	margin-top:5px;	
}

#pavillon{
	margin-top: -60px;
	position: fixed;
	z-index: -1;
}

#email{
	height: 30px;
}


#presentation{
	color: white;
	padding-top:60px;
	padding-bottom:10px;
	height:280px;
}

#presentation h4{
	font-size: 22px;
	line-height:50px;
}

#inscription{
	padding-top:50px;
	padding-bottom:50px;
}


#coachs{
	padding-top:50px;
	padding-bottom:50px;
}

#program{
	padding-top:50px;
	padding-bottom:50px;
	background:whitesmoke;
}


.dark{
	background-color: rgba(0,0,0,0.2);
	color:whitesmoke;
}

.light{
	background: whitesmoke;
	color: rgb(70,70,70);
}

.green{
	background: rgba(158, 201, 103, 1);
	color: rgb(70,70,70);
}

#notice{
	background: rgba(158, 201, 103,0.3);
	color:white;
	border-radius:10px;
	padding:20px;
}

.avg{
	font-size: 18px;
	line-height: 40px;
}

.img-circle{
	width:100px;
	border-radius:50px;	
	overflow:hidden;
}

.img-twitter, .img-facebook, .img-linkedin{
	width:30px;
	height:30px;
	border-radius:15px;	
	opacity:0.5;
	background:black;
}

.img-twitter:hover,.img-facebook:hover,.img-linkedin:hover{
	opacity:1;
}

#pgm-link {outline: none;color:rgb(70,70,70); }
#pgm-link:hover{color:rgba(50,50,50,1); text-decoration:none}


.center{
	text-align:center;
}

