.overlay {
	background-image: url('http://dvnbripert.herokuapp.com/images/dot-pattern-alpha.png');
	background-repeat: repeat;
	background-attachment: scroll;
	-webkit-background-size: .25%;
	-moz-background-size: .25%;
	-o-background-size: .25%;
	background-size: .25%;
	z-index: 1;
	height: 100%;
	width: 100%;
}

.navbar .nav > li > a {
	float: none;
	padding: 0px 15px 10px;
	color: #777777;
	line-height: 60px;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
}

#footer{
	padding-top:30px;
}

#logo{
}

#pavillon{
	margin-top: -60px;
	position: fixed;
	z-index: -1;
}

#email{
	height: 30px;
}

.container-programme{
	width:850px;
}

#presentation {
	color: whitesmoke;
	padding-top: 45px;
	padding-bottom: 50px;
}

#presentation h4 {
	font-size: 20px;
	line-height: 30px;
}

#description{
	padding-top:50px;
	padding-bottom:20px;
}

#inscription{
	padding-top:0px;
	padding-bottom:30px;
}

#coachs{
	padding-top:30px;
	padding-bottom:30px;
}

#program{
	padding-top:50px;
	padding-bottom:50px;
	background:white;
}


.dark{
	background-color: rgba(0,0,0,0.2);
	color:whitesmoke;
}

.light{
	background: white;
	color: rgb(50,50,50);
}

.green{
	background: rgba(27, 97, 87, 1);
	color: rgb(230,230,230);
}

#warning{
	background: rgba(245, 135, 0, 0.8);
	color:white;
	border-radius:10px;
	padding-top:10px;
	padding-bottom:8px;
	padding-left:10px;
}

#notice{
	background: rgba(27, 97, 87, 1);
	color:white;
	border-radius:10px;
	padding-top:10px;
	padding-bottom:8px;
	padding-left:10px;
}


.img-circle{
	width:100px;
	border-radius:50px;	
	overflow:hidden;
}

.img-twitter, .img-facebook, .img-linkedin{
	width:30px;
	height:30px;
	border-radius:15px;	
	opacity:0.5;
	background:rgb(50,50,50);
}

.img-twitter:hover,.img-facebook:hover,.img-linkedin:hover{
	opacity:1;
}

#pgm-link {outline: none;color:rgb(50,50,50); }
#pgm-link:hover{color:rgba(10,10,10,1); text-decoration:none}


.center{
	text-align:center;
}

